name: Keep Supabase Alive

on:
  schedule:
    - cron: '0 12 */3 * *'
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Supabase
        run: |
          curl -f https://euwmjhuewnjymhzbedkh.supabase.co/rest/v1/notpause \
          -H "apikey: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV1d21qaHVld25qeW1oemJlZGtoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU2NDY1NDksImV4cCI6MjA3MTIyMjU0OX0.j2tY1NcsPiZXZLQhhyBZtbAefVqdqzX9rbF_KhI3cXA" \
          -H "Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV1d21qaHVld25qeW1oemJlZGtoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU2NDY1NDksImV4cCI6MjA3MTIyMjU0OX0.j2tY1NcsPiZXZLQhhyBZtbAefVqdqzX9rbF_KhI3cXA"
